/*modifying the nav pills colors for the air quality explorer*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #E2E2E2;
}

.vega-embed {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
  padding-right: 38px;
}

.map-srch {
  width: 100%;
}


.maplegend {
  background-color: white;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}